/* Estilo de pantalla principal */
    body {

        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;    
        overflow: hidden; 
        justify-content: center ;
        background: linear-gradient(to bottom, #263749, #471043 );
        background-size: 200% 200%;
        animation: melting 5s ease-in-out infinite;

    }

 

    ::-webkit-scrollbar {
        width: 10px;
    }
      
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #8e58a3ea;
        border-radius: 10px;
    }
      
    ::-webkit-scrollbar-thumb {
        background: #8e58a39a;
        border-radius: 10px;
    }

    @keyframes melting {
        0% {
        background-position: 0% 0%;
        }
        50% {
        background-position: 100% 100%;
        }
        100% {
        background-position: 0% 0%;
        }
    }
    

    h1 {
        text-align: center;
        font-family: 'Codystar', cursive;
        font-size: 50px;
        color: #FFFFFF;
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #882a2a 0px 0px 20px, #882a2a 0px 0px 30px, #882a2a 0px 0px 40px, #882a2a 0px 0px 50px, #882a2a 0px 0px 75px;
    }
/* Fin de estilo de la pantalla principal */

/* Estilos para la ventana modal */
    .modal {
        display: flex;
        display: none;
        justify-content: center;
        align-items: center;
        z-index:100;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(104, 105, 104, 0.514);
    }

  
  .modal__contenido {
    width: 100%;
    max-width: 55%;
    height: 100%;
    max-height: 70%;
    padding: 10px;
    border-radius: 4px;
    overflow:auto;
    background-color: #1B2430;
    background-image: url(Imagenes/fondo\ ventanas\ v2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 125px auto;
    animation: aparicion 400ms cubic-bezier(0.45, 0, 0.55, 1) 0s 1 normal none;
  }   

  @keyframes aparicion {
        0% {
            transform: scale(0.5);
        }

        100% {
            transform: scale(1);
        }
    }   


    .ventana__modal__seccion1 {
        display: flex;
        flex-direction: column;
    }

    .modal__contenido h2 {
        text-align: center;
        font-size: 40px;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 2px;
        background: linear-gradient(to top, #C6379C 8%, #3C65AA 88%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        
        opacity: 0.7;
    }

    .ventana_modal__seccion1__derecha {
        display: flex;
        flex-direction: row;
    }

    #imagen__perfil {
        margin-left: 30px;
        width: 800px;
        max-width: 800px;
        max-height: 350px ;
        border: 2px solid #8e58a3ea;
        -webkit-box-shadow:0px 0px 29px 6px rgba(224,101,216,0.45);
        -moz-box-shadow: 0px 0px 29px 6px rgba(224,101,216,0.45);
        box-shadow: 0px 0px 29px 6px rgba(224,101,216,0.45);
    }

    .modal__contenido p {
        margin-left: 30px;
        margin-right: 15px;
        font-size: 22px;
        font-family: helvetica;
        letter-spacing: 1px;
        color: #e6e6e6;
        opacity: 0.8;
        text-align: justify; 
        hyphens: auto;

    }

    .ventana__modal__seccion2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .ventana__modal__seccion2__iconos h3 {
        font-size: 30px;
        font-family: 'Bebas Neue', sans-serif;
        letter-spacing: 2px;
        color: #7c4164;
        opacity: 0.9;
        text-align: center;
        margin-top: -2px;    

    }

    .ventana_modal_seccion2__iconos__lista {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 98%;
        max-height: 98%;   
        justify-content: center;    
        margin-top: -10px;    
        padding-bottom: 5px;

    }

    .ventana_modal_seccion2__iconos__lista img {
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 50px;
        max-width: 50px;
        max-height: 150px;
        border: 1px solid #8e58a3ea;
        -webkit-box-shadow:0px 0px 10px 3px rgba(224,101,216,0.45);
        -moz-box-shadow: 0px 0px 10px 3px rgba(224,101,216,0.45);
        box-shadow: 0px 0px 10px 3px rgba(224,101,216,0.45);
    }
        
    
    /* Boton cerrar */
        .modal__contenido__cerrar {
            display: flex;
            align-items: flex-end;          
            color: #80476f;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
            
        .modal__contenido__cerrar:hover {
            color: #991010;
        }
    /* Fin de boton cerrar */

/* Fin del estilo de la ventana modal */

  
/* Estilo de las cartas Cartas */
    .wrap {
        width: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: center;
    }

    .wrap__card {
        margin-right: 22px;
        margin-left: 22px;
        perspective: 800px;
        align-items: center;
    
    }

    .card {
        width: 256px;
        height: 400px;
        justify-content: center ;
        background: linear-gradient(to bottom, #263749, #471043 );
        background-size: 200% 200%;
        animation: melting 5s ease-in-out infinite;
        
        
        position: relative;
        transform-style: preserve-3d;
        transition: .7s ease;
        box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    }

    .card img {
        opacity: 0.7;
    }

    .card__front,
    .card__back {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
    }

    .card__back {
        transform: rotateY(180deg);
        display: flex;
        background: #263749;       
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .card__back__cuerpo{
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    h4 {
        font-family: 'Bebas Neue';           
        opacity: 0.6;
        font-size: 30px;
        text-align: center;
        background: linear-gradient(to top, #C6379C 8%, #3C65AA 88%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-weight: 400;
        margin-top: 10px;
    }

    .card__back__cuerpo img {
        margin-top: -30px;
        height: 160px;
        width: 160px;
        opacity: 0.7;
    ;}

    .card__back__cuerpo h3 {
        font-family: 'Teko', sans-serif;
        font-size: 35px;
        color: #7c4164;
        margin-top: -5px;
        letter-spacing: 0.1em;
    }

    .card__back__cuerpo p {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -40px;
        color: #adadad;
    }


    .wrap__card:hover .card {
        transform: rotateY(180deg);
    }
    
    .iconos__contact{
        justify-content: space-between;
    }

    #iconosredes {
        margin-left: 8px;
        margin-right: 8px;

        padding: 5px;
        width: 30px;
        height: 30px;
       
        margin-bottom: 20px;
        transition: background-color 0.4s ;
              
        border-radius: 200px 200px 200px 200px;
        -webkit-border-radius: 200px 200px 200px 200px;
        -moz-border-radius: 200px 200px 200px 200px;
    }

    #iconosredes:hover {
        background-color: #a813b38c;

    }

    .card1 {
        background-image: url(http://1.1m.yt/J9Kw7kl.jpg);
        background-size: cover;
    }

    .card2 {
        background-image: url(http://1.1m.yt/dlxMf3R.jpg);
        background-size: cover;
    }

    .card3 {
        background-image: url(http://3.1m.yt/EUB_xE.jpg);
        background-size: cover;
    }

/* Fin de Cartas */

/*ventana modal 2 grillas */
/* Estilos para la cuadrícula con flexbox */
.grid__container {
      display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuir los elementos en el espacio sobrante */
  }
  
  .grid__container__item {
    flex-basis: calc(50% - 0px); /* Dos columnas con 10px de espacio entre ellas */
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilos para las imágenes */
  .grid__container__item img {

    width: 100%;
    max-height: 200px;
    object-fit: cover; /* Ajustar la imagen sin deformarla */
    border-radius: 8px; /* Agregar bordes redondeados */
    border: 2px solid #8e58a3ea;
    -webkit-box-shadow:0px 0px 29px 6px rgba(224,101,216,0.45);
    -moz-box-shadow: 0px 0px 29px 6px rgba(224,101,216,0.45);
    box-shadow: 0px 0px 29px 6px rgba(224,101,216,0.45);  
}
  
  /* Estilos para los títulos */
  .grid__container__item h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333; /* Color del texto */
  }
  

  /* Estilos para los enlaces */
  .enlaces {
    display: flex;
    justify-content: center; /* Centrar los enlaces horizontalmente */
  }
  
  .enlaces a {
    display: inline-block;
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;

    text-decoration: none;
    font-family: 'Teko', sans-serif;
    color: rgb(201, 201, 201); /* Color del enlace */
    font-size: 25px;
  }


  
  /* Cambiar color al pasar el ratón por encima */
  .enlaces a:hover {
    color: rgb(149, 112, 209);
  }


.ventana__modal__grilla img {
    width: 350px;
    max-width: 350px ;
    height: 250px;
    max-height: 250px; 
    transition: transform 0.3s ease; 
}

.ventana__modal__grilla img:hover {
    transform: scale(1.3); /* Aumenta el tamaño de la imagen en un 20% */
}




/* Ventana modal 3 */

.cuerpo__ventana {
    display: flex;
    flex-direction: column;

}
    .cuerpo__ventana__iconos{
       display: flex;
       flex-direction: column;
        width: 100%;
        max-width: 100% ;
        height: 100%;
        max-height: 100%;  
        align-items: center;
    }

    .cuerpo__ventana__iconos img {

    }

    .cuerpo__ventana__iconos img:hover{
        background-color: #66a9be;

    }

    .cuerpo__ventana__iconos p {
        font-size: 23px;
        margin-bottom: 30px;
        margin-left: 20%;
        margin-right: 20%;        
        hyphens: auto;

    }
    

/*Cerrar ventana modal 3 */ 

/*button */

.card__back__cuerpo__button {
	background-color:transparent;
	border-radius:29px;
	border:2px solid #7c4164;
	display:inline-block;
	cursor:pointer;
	color:#7c4164;
	font-family:Trebuchet MS;
	font-size:25px;
	padding:0px 7px;
	text-decoration:none;
}
.card__back__cuerpo__button:hover {
	background-color: #7c416448;
}
.card__back__cuerpo__button:active {
	position:relative;
	top:1px;
}


/* Inicia formulario*/
form {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 100% ;

}


textarea{
    width : 70%;
    max-width: 70%;
    min-width: 70%;
    height : 90px;
    max-height: 90px;
    min-height: 90px;    
    background-color: #2c2b2b00;  
    border: 2px solid #9b5a93c7;
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 25px;
    color: #cecece;
    font-size: 19px;
    font-family: 'Titillium Web', sans-serif;

    
}


textarea:focus {    
    border: none;
    outline: 2px solid #8e58a3ea;;;
    -webkit-box-shadow:0px 0px 29px 6px rgba(224,101,216,0.45);
    -moz-box-shadow: 0px 0px 29px 6px rgba(224,101,216,0.45);
    box-shadow: 0px 0px 29px 6px rgba(224,101,216,0.45);    
    color: #cecece;
    font-size: 19px;

}

input {
    margin: 15px;
    width: 70%;
    height: 25px;
    background-color: #2c2b2b00;  
    border: none;
    border-bottom: 2px solid #9b5a93c7;
    border-radius: 4px;
    color: #cecece;
    font-family: helvetica;
}

input:focus {
    border: none;
    outline: 2px solid #8e58a3ea;;
    -webkit-box-shadow:0px 0px 29px 6px rgba(224,101,216,0.45);
    -moz-box-shadow: 0px 0px 29px 6px rgba(224,101,216,0.45);
    box-shadow: 0px 0px 29px 6px rgba(224,101,216,0.45);
}

input::placeholder {
    color:#f3eff1;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    font-size: 19px;
  
}

button {
    font-family: 'Roboto', sans-serif;
    color: #c0c0cec7;
    background: none;
    border: 2px solid;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    transition: all 200ms ease-out;
    cursor:pointer;
}

button:hover {
    border-color: #8152b8c7;
    color: #b9b9b9;
    box-shadow: 0 0.5rem 0.5rem -0.4rem #8152b8c7;
  }

/* Finaliza formulario */



@media screen and (max-width:1100px) {
    body {
        overflow-y: auto;
        animation: none;
        height: 200vh;    
    }


    h1 {
        margin-top: -150px;
        text-align: center;
        font-size: 30px;
 
    }


    .wrap {
        
        display: flex;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrap__card {
        display: flex;
        flex-direction: column;
        margin-top: 22px;
        margin-bottom: 22px;
        
    
    }

    .modal__contenido {
        width: 100%;
        max-width: 90%;
        height: 100%;
        max-height: 70%;
    }

    .ventana__modal__seccion1 {
        display: flex;
        flex-direction: column;
    }


    .modal__contenido p {
        margin-left: 5px;
        font-size: 22px;
        hyphens: auto;
    }
    #imagen__perfil {
        width: 0px;
        height: 0px;
        border: none;
    }
    .ventana_modal_seccion2__iconos__lista {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px; /* Ajusta el ancho máximo de la grilla según tus necesidades */
        margin: 0 auto; /* Centrar la grilla en el centro de la pantalla */
    }

    .grid__container__item {
        flex-basis: calc(100%); 
        margin-left: 15px;
    }

    .ventana__modal__grilla img {
        width: 300px;
        max-width: 300px ;
        height: 225px;
        max-height: 225px; 
        transition: transform 0.3s ease; 
    }  
      
      .ventana__modal__grilla img:hover {
        transform: scale(1.2); 
    }

    .cuerpo__ventana__iconos p {
        font-size: 20px;
        margin-left: 9%;
        margin-right: 3%;
    }

  
    form {
        width: 100%;
        max-width: 100% ;
    
    }
    
    
}

@media screen and (max-width:1500px) {


    .modal__contenido {
        width: 100%;
        max-width: 90%;
        height: 100%;
        max-height: 75%;
    }
}


@media screen and (max-width:380px) {
    h1 {
        align-items: flex-start;
        padding-top: 300px;
    }
}

